@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    min-height: 100vh;
    padding: 20px;
    font-family: Inter;
}
.container {
    background-color: hsl(0, 0%, 12%);
    height: auto;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    padding: 40px;
}
.pfp {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 5px;
}
.info{
    text-align: center;

}
.info h1{
    color: white;
    font-size: 26px;

    margin-bottom:0;
}
.info h2{
    color: hsl(75, 94%, 57%);
    font-size: 15px;
}
.info p{
    color: white;
    font-size: 14px;
    margin-top: 35px;
}
.links{
    display: flex;
    flex-direction: column;
}
a {
    text-align: center;
    text-decoration: none;
    color: white;
}
.challenge {
    margin-top: 200px;
}
.github, .fm, .ln, .twitter, .insta{
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    padding: 15px 10px;
    margin: 10px;
    font-weight: 700;
}

@media (max-width: 375px) {
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 12px;
    }
    p {
        font-size: 12px;
    }
}